* {
    box-sizing: border-box;
    font-family: openSansCondensedLight;
}

@font-face {
   font-family: openSansCondensedLight;
   src: url("../css/fonts/openSansCondensedLight.ttf");
}

@font-face {
   font-family: openSansCondensedBold;
   src: url("../css/fonts/openSansCondensedBold.ttf");
}

@font-face {
   font-family: bebasneueRegular;
   src: url("../css/fonts/bebasneueRegular.ttf");
}

@font-face {
   font-family: itcAvantGardeBold;
   src: url("../css/fonts/itcAvantGardeBold.otf");
}

body {
    margin-top: 10px;
}

#pageContainer {
  position: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  min-height: 100vh;
}

#contentWrap {
  padding-bottom: 1.0rem;
}


.wrapper-header {
  padding: 30px 0 0 10px;
  text-align: left;
  max-width: 100%;
  height: 100px;
}

.header {
  display: inline;
}

.header img {
  float: left;
  max-width: 100%;
  max-height: 100%;
}

.wrapper-nav {
  margin-top: 7px;
  overflow: hidden;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 30px 10px 0 0;
}

.navbar a {
  font-family: ;
  display: inline-block;
  float: right;
  color: #ae2d31;
  text-align: center;
  padding: 0px 20px 4px 20px;
  text-decoration: none;
  font-size: 19px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  color: grey;
  cursor: pointer;
}


/* Individual Page CSS */
.meetTeam h2 {
  padding-top: 50px;
  text-align: center;
}

.meetTeam p {
  text-align: center;
  font-size: 20px;
}



.main {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 10px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  text-align: center;
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  text-decoration: none;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #ad2d31;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.divide {
  border-top: 1px solid #ffdb5c;
  width: 100%;
}

/* Footer */
.footer {
  position: relative;
  margin-top: 50px;
  right: 0:
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.social img {
  width: 25px;
  height: auto;
}

.copyright {
  font-size: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
  #mobileheader {
    padding: 5px;
    text-align: center;
    max-width: 100%;
    height: 100px;
  }

  #logo{
    display: inline;
  }

  #logo img {
    float: inherit;
    max-width: 100%;
    max-height: 100%;
  }

  .wrapper-nav {
    margin-top: 7px;
    overflow: hidden;
  }

  #mobilenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  #mobilenav a {
    display: inline-block;
    color: #ae2d31;
    text-align: center;
    text-decoration: none;
    font-size: 19px;
  }

  #blog, #work{
    float:left;
  }

  #about, #contact{
    float:right;
  }

  #mobilenav a:hover{
    color: grey;
    cursor: pointer;
  }
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
