* {
    box-sizing: border-box;
    font-family: openSansCondensedLight;
}

@font-face {
   font-family: openSansCondensedLight;
   src: url("../css/fonts/openSansCondensedLight.ttf");
}

@font-face {
   font-family: openSansCondensedBold;
   src: url("../css/fonts/openSansCondensedBold.ttf");
}

@font-face {
   font-family: bebasneueRegular;
   src: url("../css/fonts/bebasneueRegular.ttf");
}

@font-face {
   font-family: itcAvantGardeBold;
   src: url("../css/fonts/itcAvantGardeBold.otf");
}

@font-face {
   font-family: prime;
   src: url("../css/fonts/prime.ttf");
}

body {
    margin-top: 10px;
}

#pageContainer {
  position: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  min-height: 100vh;
}

#contentWrap {
  padding-bottom: 1.0rem;
}

.wrapper-header {
  padding: 5px;
  text-align: center;
  max-width: 100%;
  height: 100px;
}

.header {
  display: inline;
}

.header img {
  max-width: 100%;
  max-height: 100%;
}


.wrapper-nav {
  margin-top: 7px;
  overflow: hidden;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar a {
  font-family: openSansCondensedLight;
  width: 15%;
  display: inline-block;
  color: #ae2d31;
  text-align: center;
  padding: 6px 6px 6px 27px;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  color: grey;
  cursor: pointer;
}


.row {
  margin-top: 100px;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 70%;
}

/* Right column */
.rightcolumn {
  float: right;
  width: 25%;
  padding-left: 10px;
}


.lcard img {
  width: 100%;
}

.lcard {
  width:100%;
  padding: 5px;
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 20px;
  left: 15px;
  right: 0;
  background-color: #ffdb5c;
  opacity: 0.7;
  overflow: hidden;
  width:0;
  height: 0;
  pointer-events: none;
  transition: .5s ease;
  box-shadow: -10px 10px #807654
  ;
}

.lcard:hover .overlay {
  width: 40%;
  height: 30%;
  bottom:
  left: 0;
  padding: 10px;
}

.rcard img {
  position: relative;
  width: 100%;
}

.rcard p {
  font-family: openSansCondensedLight;
  font-size: 20px;
  color: black;
  line-height: 1;
}

.rcard h4 {
  padding-top: 10px;
  font-family: itcAvantGardeBold;
  font-size: 15px;
  color: black;
  line-height: 1;
}

.rcard a {
  text-decoration: none;
}

.rcard:hover a {
  text-decoration: underline;
  color: #e95d5d;
}

.rcard {
  font-family: openSansCondensedBold;
  width:100%;
  padding-bottom: 5px;
  position:relative;
  text-align: center;
  background-color: #fff8dc;
}

h2 {
  font-family: itcAvantGardeBold;
  color: black;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 3%;
}

h3 {
  font-family: itcAvantGardeBold;
}


p {
  color: #e95d5d;
  font-size: 20px;
  line-height: 1.6;
}

#readMore {
  text-decoration: none;
  color: #e95d5d;
}

#readMore:hover {
  text-decoration: underline;
  color: black;
}

.social img {
  width: 25px;
  height: auto;
}

.text {
  font-family: openSansCondensedLight;
  color: black;
  font-size: 20px;
  position: absolute;
  top: 30%;
  left: 3%;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.divide {
  border-top: 1px solid #ffdb5c;
  width: 100%;
}

#navLine {
  border-top: 2px solid #ffdb5c;
  width: 100%;
}

/* footer */
.footer {
  margin-top: 50px;
  text-align: center;
}

.footerLogo {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 2.5%;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  #pageContainer {
    width: 90%;
    min-height: 100vh;
  }

  .wrapper-header {
    max-width: 100%;
    height: 100px;
  }

  .header{
    display: inline;
  }

  .header img {
    float: inherit;
    max-width: 100%;
    max-height: 100%;
  }

  .wrapper-nav {
    overflow: hidden;
  }

  .navbar {
    list-style-type: none;
  }

  .navbar a {
    display: inline;
    color: #ae2d31;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    width: 30%;
  }



  .navbar a:hover{
    color: grey;
    cursor: pointer;
  }

  .leftcolumn, .rightcolumn {
    display: inline-block;
    width: 100%;
    padding: 0;
  }

  .overlay {
    position: absolute;
    bottom: 20px;
    left: 15px;
    right: 0;
    background-color: #ffdb5c;
    opacity: 0.7;
    overflow: hidden;
    width:0;
    height: 0;
    pointer-events: none;
    transition: .5s ease;
    box-shadow: -10px 10px #807654
    ;
  }

  .lcard:hover .overlay {
    width: 40%;
    height: 30%;
    bottom:
    left: 0;
    padding: 20px;
  }

  h2 {
    font-family: itcAvantGardeBold;
    color: black;
    font-size: 20px;
    position: absolute;
    left: 3%;
  }

  h3 {
    font-family: itcAvantGardeBold;
    color: black;
    font-size: 20px;
    position: relative;
    top: 0;
    left: 3%;
  }


  h4 {
    font-family: itcAvantGardeBold;
    color: black;
    font-size: 10px;
    position: relative;
  }


  .text {
    font-family: openSansCondensedLight;
    color: black;
    font-size: 14px;
    top: 45%;
    left: 3%;
}

.divide {
  padding-bottom: 10px;
  border-top: 1px solid #ffdb5c;
  width: 100%;
}

}

@media screen and (max-width: 800px) {
  #pageContainer {
    width: 88%;
    min-height: 100vh;
  }

  .wrapper-header {
    max-width: 100%;
    height: 100px;
  }

  .header{
    display: inline;
  }

  .header img {
    float: inherit;
    max-width: 100%;
    max-height: 100%;
  }

  .wrapper-nav {
    overflow: hidden;
  }

  .navbar {
    list-style-type: none;
  }

  .navbar a {
    display: inline;
    color: #ae2d31;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    width: 25%;
  }



  .navbar a:hover{
    color: grey;
    cursor: pointer;
  }

  .leftcolumn, .rightcolumn {
    display: inline-block;
    width: 100%;
    padding: 0;
  }

  .overlay {
    position: absolute;
    bottom: 20px;
    left: 15px;
    right: 0;
    background-color: #ffdb5c;
    opacity: 0.7;
    overflow: hidden;
    width:0;
    height: 0;
    pointer-events: none;
    transition: .5s ease;
    box-shadow: -10px 10px #807654
    ;
  }

  .lcard:hover .overlay {
    width: 40%;
    height: 30%;
    bottom:
    left: 0;
    padding: 20px;
  }

  h2 {
    font-family: itcAvantGardeBold;
    color: black;
    font-size: 20px;
    position: absolute;
    left: 3%;
  }

  h3 {
    font-family: itcAvantGardeBold;
    color: black;
    font-size: 20px;
    position: relative;
    top: 0;
    left: 3%;
  }


  h4 {
    font-family: itcAvantGardeBold;
    color: black;
    font-size: 10px;
    position: relative;
  }


  .text {
    font-family: openSansCondensedLight;
    color: black;
    font-size: 14px;
    top: 45%;
    left: 3%;
}

.divide {
  padding-bottom: 10px;
  border-top: 1px solid #ffdb5c;
  width: 100%;
}
}

@media screen and (max-width: 500px) {
  #pageContainer {
    width: 88%;
    min-height: 100vh;
  }

  .wrapper-header {
    max-width: 100%;
    height: 100px;
  }

  .header{
    display: inline;
  }

  .header img {
    float: inherit;
    max-width: 100%;
    max-height: 100%;
  }

  .wrapper-nav {
    overflow: hidden;
  }

  .navbar {
    list-style-type: none;
  }

  .navbar a {
    display: inline;
    color: #ae2d31;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    width: 25%;
  }



  .navbar a:hover{
    color: grey;
    cursor: pointer;
  }

  .leftcolumn, .rightcolumn {
    display: inline-block;
    width: 100%;
    padding: 0;
  }

  .overlay {
    position: absolute;
    bottom: 20px;
    left: 15px;
    right: 0;
    background-color: #ffdb5c;
    opacity: 0.7;
    overflow: hidden;
    width:0;
    height: 0;
    pointer-events: none;
    transition: .5s ease;
    box-shadow: -10px 10px #807654
    ;
  }

  .lcard:hover .overlay {
    width: 40%;
    height: 30%;
    bottom:
    left: 0;
    padding: 20px;
  }

  h2 {
    font-family: itcAvantGardeBold;
    color: black;
    font-size: 20px;
    position: absolute;
    left: 3%;
  }

  h3 {
    font-family: itcAvantGardeBold;
    color: black;
    font-size: 20px;
    position: relative;
    top: 0;
    left: 3%;
  }


  h4 {
    font-family: itcAvantGardeBold;
    color: black;
    font-size: 10px;
    position: relative;
  }


  .text {
    font-family: openSansCondensedLight;
    color: black;
    font-size: 14px;
    top: 45%;
    left: 3%;
}

.divide {
  padding-bottom: 10px;
  border-top: 1px solid #ffdb5c;
  width: 100%;
}
}
