* {
    box-sizing: border-box;
    font-family: openSansCondensedLight;
}

@font-face {
   font-family: openSansCondensedLight;
   src: url("../css/fonts/openSansCondensedLight.ttf");
}

@font-face {
   font-family: bebasneueRegular;
   src: url("../css/fonts/bebasneueRegular.ttf");
}

@font-face {
   font-family: itcAvantGardeBold;
   src: url("../css/fonts/itcAvantGardeBold.otf");
}

body {
    margin-top: 10px;
    background-image: url("../images/nutsandbolts_logo.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#pageContainer {
  position: relative;
  min-height: 100vh;
}

#contentWrap {
  padding-bottom: 1.0rem;
}

.wrapper-header {
  padding: 30px 0 0 10px;
  text-align: left;
  max-width: 100%;
  height: 100px;
}

.header {
  display: inline;
}

.header img {
  float: left;
  max-width: 100%;
  max-height: 100%;
}


.wrapper-nav {
  margin-top: 7px;
  overflow: hidden;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 30px 10px 0 0;
}

.navbar a {
  display: inline-block;
  float: right;
  color: #ae2d31;
  text-align: center;
  padding: 0px 20px 4px 20px;
  text-decoration: none;
  font-size: 19px;
}

.navbar a:hover {
  color: grey;
  cursor: pointer;
}


/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 60%;
}

/* Right column */
.rightcolumn {
  float: right;
  width: 25%;
  padding-left: 10px;
}


.card img {
  background-color: #ae2d31;
  width: 78%;
  padding: 5px;
}

/* Add a card effect for articles */
.card {
  width:100%;
  padding: 5px;
  margin-top: 20px;
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 20px;
  left: 15px;
  right: 0;
  background-color: #ffdb5c;
  opacity: 0.7;
  overflow: hidden;
  width:0;
  height: 0;
  pointer-events: none;
  transition: .5s ease;
  box-shadow: -10px 10px #807654
  ;
}

.card:hover .overlay {
  width: 40%;
  height: 30%;
  bottom:
  left: 0;
  padding: 10px;
}

h1 {
  font-family: itcAvantGardeBold;
}

h2 {
  font-family: itcAvantGardeBold;
  color: black;
  font-size: 20px;
  position: absolute;
  top: 2%;
  left: 3%;
}


.text {
  font-family: openSansCondensedLight;
  color: black;
  font-size: 20px;
  position: absolute;
  top: 27%;
  left: 3%;

}

.description {
  background-color: #ae2d31;
  float:right;
  width: 20%;
  left: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* footer */
.footer {
  position: relative;
  right: 0:
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.social img {
  width: 25px;
  height: auto;
}

.copyright {
  font-size: 10px;
  margin-bottom: 10px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
  body {
      margin-top: 10px;
      background-image: url("../images/nutsandbolts_logo.jpg");
      background-size: 75%;
      background-repeat:no-repeat;
      background-attachment: fixed;
      background-position: center;
  }
}
