* {
    box-sizing: border-box;
    font-family: openSansCondensedLight;
}

@font-face {
   font-family: openSansCondensedLight;
   src: url("../css/fonts/openSansCondensedLight.ttf");
}

body {
    margin-top: 10px;
    font-family: cambria, sans-serif;
}

#pageContainer {
  position: relative;
  min-height: 85vh;
}

#contentWrap {
  padding-bottom: 1.0rem;
}

.wrapper-header {
  padding: 30px 0 0 10px;
  text-align: left;
  max-width: 100%;
  height: 100px;
}

.header {
  display: inline;
}

.header img {
  float: left;
  max-width: 100%;
  max-height: 100%;
}

.wrapper-nav {
  margin-top: 7px;
  overflow: hidden;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 30px 10px 0 0;
}

.navbar a {
  display: inline-block;
  float: right;
  color: #ae2d31;
  text-align: center;
  padding: 0px 20px 4px 20px;
  text-decoration: none;
  font-size: 19px;
}

.navbar a:hover{
  color: grey;
  cursor: pointer;
}

.splash {
  max-width: 100%;
  height: auto;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

}

.splashRow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.leftHero, .rightHero {
  flex: 25%;
  max-width: 50%;
  position: relative;
}

.splash img, {
  margin-top: 8px;
  vertical-align: middle;
}


.splashRow .leftButton {
  font-family: Arial, sans-serif;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 76%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: #ad2d31;
  font-size: 1.5vw;
  padding: 11px 24px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  text-align: center;
}

.splashRow .rightButton {
  font-family: Arial, sans-serif;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: #ad2d31;
  font-size: 1.5vw;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  text-align: center;
}

.leftHero .leftButton:hover {
color: #FFF;
border: 1px solid #FFF;
text-decoration: none;
background-color: rgba(255,255,255, 0);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-transition: background-color 300ms ease;
-moz-transition: background-color 300ms ease;
transition: background-color 300ms ease;
cursor: pointer;
}

.rightButton {
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: #ad2d31;
  font-size: 30px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  text-align: center;
}

.rightButton:hover {
  color: #FFF;
  border: 1px solid #FFF;
  text-decoration: none;
  background-color: rgba(255,255,255, 0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background-color 300ms ease;
  -moz-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  cursor: pointer;
}

/* footer */
.footer {
  position: relative;
  text-align: center;
}

.social img {
  width: 25px;
  height: auto;
}

.copyright {
  font-size: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
  .leftHero, .rightHero, .leftButton, .rightButton {
    flex: 50%;
    max-width: 50%;
  }
  #mobileheader {
    padding: 5px;
    text-align: center;
    max-width: 100%;
    height: 100px;
  }

  #logo{
    display: inline;
  }

  #logo img {
    float: inherit;
    max-width: 100%;
    max-height: 100%;
  }

  .wrapper-nav {
    margin-top: 7px;
    overflow: hidden;
  }

  #mobilenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  #mobilenav a {
    display: inline-block;
    color: #ae2d31;
    text-align: center;
    text-decoration: none;
    font-size: 19px;
  }

  #blog, #work{
    float:left;
  }

  #about, #contact{
    float:right;
  }

  #mobilenav a:hover{
    color: grey;
    cursor: pointer;
  }


}

@media screen and (max-width: 600px) {
  .leftHero, .rightHero, .leftButton, .rightButton {
    flex: 100%;
    max-width: 100%;
  }
}
