* {
    box-sizing: border-box;
    font-family: openSansCondensedLight;
}

@font-face {
   font-family: openSansCondensedLight;
   src: url("../css/fonts/openSansCondensedLight.ttf");
}

body {
    margin-top: 10px;
    font-family: Arial, sans-serif;
    overflow: scroll;
}

#pageContainer {
  position: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  min-height: 100vh;
}

#contentWrap {
  padding-bottom: 1.0rem;
}

.wrapper-header {
  padding: 30px 0 0 10px;
  text-align: left;
  max-width: 100%;
  height: 100px;
}

.header {
  display: inline;
}

.header img {
  float: left;
  max-width: 100%;
  max-height: 100%;
}


.wrapper-nav {
  margin-top: 7px;
  overflow: hidden;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 30px 10px 0 0;
}

.navbar a {
  font-family: openSansCondensedLight;
  display: inline-block;
  float: right;
  color: #ae2d31;
  text-align: center;
  padding: 0px 20px 4px 20px;
  text-decoration: none;
  font-size: 19px;
}

.navbar a:hover {
  color: grey;
  cursor: pointer;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  list-style: 0;
  column-gap: 0;
}

.card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.arrowContainer a {
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid #de1d1d;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.arrowContainer a:hover {
  color: #ad2d31;
  border: 1px solid #ad2d31;
  text-decoration: none;
  background-color: rgba(255,255,255, 0);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: background-color 300ms ease;
  -moz-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  cursor: pointer;
}

.previous {
  margin-left: 10px;
  background-color: white;
  color: #de1d1d;
}

.next {
  margin-right: 10px;
  float: right;
  background-color: white;
  color: #de1d1d;
}

.divide {
  border-top: 1px solid #ffdb5c;
  width: 100%;
}


.footer {
  position: static;
  margin-top: 50px;
  right: 0:
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.1rem;
  text-align: center;
}

.social img {
  width: 25px;
  height: auto;
}

.copyright {
  font-size: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
  #mobileheader {
    padding: 5px;
    text-align: center;
    max-width: 100%;
    height: 100px;
  }

  #logo{
    display: inline;
  }

  #logo img {
    float: inherit;
    max-width: 100%;
    max-height: 100%;
  }

  .wrapper-nav {
    margin-top: 7px;
    overflow: hidden;
  }

  #mobilenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  #mobilenav a {
    display: inline-block;
    color: #ae2d31;
    text-align: center;
    text-decoration: none;
    font-size: 19px;
  }

  #blog, #work{
    float:left;
  }

  #about, #contact{
    float:right;
  }

  #mobilenav a:hover{
    color: grey;
    cursor: pointer;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
  }
  
    #pageContainer {
      width: 88%;
      min-height: 100vh;
    }

    .wrapper-header {
      max-width: 100%;
      height: 100px;
    }

    .header{
      display: inline;
    }

    .header img {
      float: inherit;
      max-width: 100%;
      max-height: 100%;
    }

    .wrapper-nav {
      overflow: hidden;
    }

    .navbar {
      list-style-type: none;
    }

    .navbar a {
      display: inline;
      color: #ae2d31;
      text-align: center;
      text-decoration: none;
      font-size: 15px;
      width: 25%;
    }



    .navbar a:hover{
      color: grey;
      cursor: pointer;
    }

    .leftcolumn, .rightcolumn {
      display: inline-block;
      width: 100%;
      padding: 0;
    }

    .overlay {
      position: absolute;
      bottom: 20px;
      left: 15px;
      right: 0;
      background-color: #ffdb5c;
      opacity: 0.7;
      overflow: hidden;
      width:0;
      height: 0;
      pointer-events: none;
      transition: .5s ease;
      box-shadow: -10px 10px #807654
      ;
    }

    .lcard:hover .overlay {
      width: 40%;
      height: 30%;
      bottom:
      left: 0;
      padding: 20px;
    }

    h2 {
      font-family: itcAvantGardeBold;
      color: black;
      font-size: 20px;
      position: absolute;
      left: 3%;
    }

    h3 {
      font-family: itcAvantGardeBold;
      color: black;
      font-size: 20px;
      position: relative;
      top: 0;
      left: 3%;
    }


    h4 {
      font-family: itcAvantGardeBold;
      color: black;
      font-size: 10px;
      position: relative;
    }


    .text {
      font-family: openSansCondensedLight;
      color: black;
      font-size: 14px;
      top: 45%;
      left: 3%;
  }

  .divide {
    padding-bottom: 10px;
    border-top: 1px solid #ffdb5c;
    width: 100%;
  }
  }
