* {
    box-sizing: border-box;
    font-family: openSansCondensedLight;
}

@font-face {
   font-family: openSansCondensedLight;
   src: url("../css/fonts/openSansCondensedLight.ttf");
}

body {
    margin-top: 10px;
    font-family: Arial, sans-serif;
    overflow: scroll;
}

#pageContainer {
  position: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  min-height: 100vh;
}

#contentWrap {
  padding-bottom: 1.0rem;
}

.wrapper-header {
  padding: 30px 0 0 10px;
  text-align: left;
  max-width: 100%;
  height: 100px;
}

.header {
  display: inline;
}

.header img {
  float: left;
  max-width: 100%;
  max-height: 100%;
}


.wrapper-nav {
  margin-top: 7px;
  overflow: hidden;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 30px 10px 0 0;
}

.navbar a {
  font-family: openSansCondensedLight;
  display: inline-block;
  float: right;
  color: #ae2d31;
  text-align: center;
  padding: 0px 20px 4px 20px;
  text-decoration: none;
  font-size: 19px;
}

.navbar a:hover {
  color: grey;
  cursor: pointer;
}


.main {
  max-width: 100%;
  height: auto;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  position: relative;
  flex: 25%;
  max-width: 20%;
  padding: 0 4px;
}


.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/*
.column img:hover {
opacity: 0.6;
}
*/

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ae2d31;
  opacity: 0.9;
  overflow: hidden;
  width:98.5%;
  height: 98.5%;
  transition: .5s ease;
  pointer-events: none;
}

.column:hover .overlay {
  width: 0;
  left: 0;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.divide {
  border-top: 1px solid #ffdb5c;
  width: 100%;
}

.footer {
  position: relative;
  text-align: center;
}

.social img {
  width: 25px;
  height: auto;
}

.copyright {
  font-size: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }

  #mobileheader {
    padding: 5px;
    text-align: center;
    max-width: 100%;
    height: 100px;
  }

  #logo{
    display: inline;
  }

  #logo img {
    float: inherit;
    max-width: 100%;
    max-height: 100%;
  }

  .wrapper-nav {
    margin-top: 7px;
    overflow: hidden;
  }

  #mobilenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  #mobilenav a {
    display: inline-block;
    color: #ae2d31;
    text-align: center;
    text-decoration: none;
    font-size: 19px;
  }

  #blog, #work{
    float:left;
  }

  #about, #contact{
    float:right;
  }

  #mobilenav a:hover{
    color: grey;
    cursor: pointer;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
